<div class="page-welcome">
    <div class="mt-5 row">
        <div class="col-sm-6 mt-5">
            {{> pageHeader title=title description=description}}
        </div>
    </div>
    <div class="mt-4 row">
        <div class="col-md-auto">
            <a class="btn btn-outline-dark" href="/register" role="button">Register</a>
        </div>
        <div class="col-md-auto">
            <a class="btn btn-primary" href="/login" role="button">Login</a>
        </div>
    </div>
</div>