<section class="app-page-header">
    <div class="page-header-body">
        <h1 class="display-4">
            {{#if title}}{{title}}{{else}}No title available{{/if}}
        </h1>
        {{#if description}}
            <h3>
                <small class="text-muted">
                    {{description}}
                </small>
            </h3>
        {{/if}}
    </div>
</section>